@model auth0search.Models.LockContext

<div id="root" style="width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
	embeded area
</div>
<script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>
<script>

  var lock = new Auth0Lock('@Model.ClientId', '@Model.Domain', {
    container: 'root',
    auth: {
      redirectUrl: '@Model.CallbackUrl',
      responseType: 'code',
      params: {
        scope: 'openid',
        state: '@Model.State' ,
        nonce: '@Model.Nonce'
      }
    },
    additionalSignUpFields: [{
      name: "address",                              
      placeholder: "enter your address",            
      icon: "/images/location.png", 
      prefill: "street 123",                        
      validator: function(value) {                  
        // only accept addresses with more than 10 chars
        return value.length > 10;
      }
    },
    {
      type: "select",                                       
      name: "country",                                     
      placeholder: "choose your location",                  
       options: [                                            
        {value: "us", label: "United States"},
        {value: "fr", label: "France"},
        {value: "ar", label: "Argentina"}
      ],
      prefill: "us",  
      icon: "/images/country.png" 
    },
    {
      type: "select",                                       
      name: "gender",                                     
      placeholder: "choose your gender",                  
       options: [                                            
        {value: "male", label: "Male"},
        {value: "female", label: "Female"},
        {value: "other", label: "Other"},
        {value: "not-saying", label: "Prefer not to say"}
      ],
      prefill: "us",  
      icon: "/images/gender.png" 
    },
    {
      type: "textarea",                                       
      name: "description",                                     
      placeholder: "tell us about yourself",                  
      icon: "/images/description.png" 
    }
    ] 
  });

  lock.show();
</script>